*::before{
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 89.5%;
}
body{
    font-size: 1.6rem;
}
li{
    list-style: none;
    
}
a {
    text-decoration: none;
    color: #103A05;
}
.nav{
    display: flex;
    justify-content: start;
    height: 8vh;
    background: #FFFFFF;
    box-shadow: 2px 4px 4px rgb(0 0 0 / 25%);
    margin-bottom: 1em;
}
.navMenu{
    display: flex;
    justify-content: start;
    gap: 9rem;
}